.button{
  color: $basic-white;
  background-color: $basic-color;
  // text-transform: uppercase;
  border: none;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: 15px;


  &:hover,
  &:focus {
    background-color: $basic-color-hover;
  }

  &:active {
    background-color: $basic-color-active;
    color: $basic-white-opacity-3;
  }

  &:disabled {
    background-color: $checkbox-down;
  }
}
