.control {
  outline: none;
  border: none;
  display: block;

  &--volume {
    width: 100%;
    height: 3px;
    appearance: none;
    outline: none;
    background-color: transparent;

    &::-webkit-slider-runnable-track,
    &::-webkit-slider-thumb {
      appearance: none;
    }

    &::-moz-range-track,
    &::-moz-range-thumb {
      appearance: none;
    }

    &::-webkit-slider-thumb {
      background-color: $basic-white;
      height: 13px;
      width: 13px;
      border: none;
      border-radius: 50%;
      margin-top: -5px;
      cursor: pointer;
    }

    &::-webkit-slider-runnable-track {
      background-color: $basic-white-opacity-2;
      height: 3px;
    }

    &::-moz-range-track {
      background-color: $basic-white;
      height: 3px;
      opacity: 0.2;
      appearance: none;
    }

    &::-moz-range-thumb {
      cursor: pointer;
    }
  }

  &--reset,
  &--subtitle,
  &--fullscreen {
    height: 20px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    &:active {
      opacity: 0.3;
    }
  }

  &--reset:hover,
  &--subtitle:hover,
  &--fullscreen:hover {
    path {
      fill: $basic-text;
      stroke: $basic-text;
    }
  }

  &--reset {
    width: 16px;
  }

  &--subtitle {
    width: 32px;
  }

  &--fullscreen {
    width: 20px;
  }
}

// Ширина экрана от 768px

@media (min-width: $tablet-width) {
  .video__volume {
    width: 100%;
  }

  .control--reset {
    order: -1;
  }

  .control {
    path {
      fill: $basic-white;
      stroke: $basic-white;
    }
  }
}
