.control {
  outline: none;
  border: none;
  display: block;
  cursor: pointer;

  &--fullscreen,
  &--reset,
  &--subtitle {
    color: $control;
    background-color: transparent;

    @media (max-width: $mobile-width-only) {
      color: $control;

      &:hover {
        color: $basic-text;
      }

      &:active {
        opacity: 0.3;
      }
    }

    @media (min-width: $tablet-width) {
      color: $basic-white;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  &--volume {
    width: 100%;
    height: 3px;
    appearance: none;
    outline: none;
    background-color: transparent;
    z-index: 2;

    &::-webkit-slider-runnable-track,
    &::-webkit-slider-thumb {
      appearance: none;
    }

    &::-moz-range-track,
    &::-moz-range-thumb {
      appearance: none;
    }

    &::-webkit-slider-thumb {
      background-color: $basic-white;
      height: 13px;
      width: 13px;
      border: none;
      border-radius: 50%;
      margin-top: -5px;
      cursor: pointer;
    }

    &::-webkit-slider-runnable-track {
      background: rgba($basic-white, 0.2);
      height: 3px;
    }

    &::-moz-range-track {
      background: rgba($basic-white, 0.2);
      height: 3px;
      appearance: none;
    }

    &::-moz-range-thumb {
      cursor: pointer;
    }
  }

  &--reset {
    width: 16px;
    margin-left: 20px;

    @media (min-width: $tablet-width) {
      order: -1;
      margin-left: 0;
    }
  }

  &--subtitle {
    width: 32px;
    margin-right: 31px;

    @media (min-width: $tablet-width) {
      margin-right: 0;
    }
  }

  &--fullscreen {
    width: 20px;
    margin-right: 29px;

    @media (min-width: $tablet-width) {
      margin-right: 0;
    }
  }
}
