.description {
  text-align: center;
  position: relative;

  @media (max-width: $mobile-width-only) {
    &--triangle::after {
      position: absolute;
      left: 0;
      right: 0;
      content: "";
      width: auto;
      height: 37px;
      background-image: url("../img/trivial-triangle.svg");
      background-position: center top;
      background-repeat: no-repeat;
      margin: 0 auto;
    }
  }
}

.description__title {
  margin: 0;
  padding-bottom: 32px;
}

.description__text {
  padding-bottom: 11px;
  margin: 0;
}
