.feedback-form__item {
  width: 100%;
  margin-bottom: 20px;
}

.feedback-form__legend {
  margin: 0;
  padding: 0;
  text-align: center;
  &::after {
    display: inline-block;
    content: ":";
  }
}

.feedback-form__label {
  &::after{
    display: inline-block;
    content: ":";
  }
}

.feedback-form__button {
  min-width: 280px;
}

.feedback-form__comment{
  display: none;
}

.feedback-form__item > .input:required > .feedback-form__label::after{
  display: inline-block;
  content: "*:";
}

.feedback-form__input-tel::after,
.feedback-form__input-mail::after {
  display: inline-block;
  content: "";
  width: 58px;
  height: 58px;
  margin: 0;
  background-color: $background-dark-input;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
.feedback-form__input-tel::after {
  background-image: url(../img/icons/icon-phone.svg);
}

.feedback-form__input-mail::after {
  background-image: url(../img/icons/icon-mail.svg);
}

// Ширина экрана от 768px

@media (min-width: $tablet-width) {
  .feedback-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .fieldset {
    &--impression {
      order: -4;
    }

    &--contacts {
      grid-column: 1 / -1;
      width: 100%;
    }

    &--attraction {
      grid-column: 1 / -1;
      width: 100%;
    }
  }

  .feedback-form__list--atrraction {
    -moz-columns: 2;
         columns: 2;
  }

  .feedback-form__item--emotions {
    grid-column: 1 / -1;
    width: 100%;
  }

  .feedback-form__comment {
    display: block;
    text-align: end;
  }
}
