// Ширина экрана от 768px

@media (min-width: $tablet-width) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery__item:first-child {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

// Ширина экрана от 1200px

@media (min-width: $desktop-width) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
