.input {
  box-sizing: border-box;
  height: 58px;
  width: 100%;
  background-color: $basic-background;
  text-transform: none;
  border: none;
  padding-top: 18px;
  padding-left: 22px;
  padding-bottom: 14px;
  padding-right: 10px;
  outline: none;

  &--text {
    width: 100%;
    height: 160px;
    padding-top: 13px;
    padding-right: 20px;

    @media (min-width: $tablet-width) {
      padding-top: 18px;
    }
  }

  &:invalid {
    border-bottom: 4px solid  $invalid-input;
  }

  &:hover {
    background-color: $checkbox-hover;
  }

  &:focus,
  &:active {
    border: 4px solid $checkbox-hover;
    background-color: $basic-white;
  }

  &::-webkit-input-placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    color: $basic-title;
  }

  &::-moz-placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    color: $basic-title;
  }

  &:-ms-input-placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    color: $basic-title;
  }

  &::-ms-input-placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    color: $basic-title;
  }

  &::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    color: $basic-title;
  }
}
