.main-nav {
  position: sticky;

  @media (max-width: $mobile-width-only) {
    position: relative;

    &::after {
      display: block;
      position: absolute;
      content: "";
      height: 7px;
      width: 100%;
      margin-top: -7px;
      background-image: linear-gradient(180deg, transparent, $basic-title-opacity-2 100%);
    }

    &--closed .main-nav__list {
      display: none;
    }
  }

  &--nojs button {
    display: none;
  }
}

.main-nav__item {
  @media (max-width: $mobile-width-only) {
    background-color: $basic-color;
    box-shadow: 0 1px 0 $basic-title-opacity-2, inset 0 1px 0 $basic-white-opacity-2;

    &:first-child {
      box-shadow: 0 1px 0 $basic-title-opacity-2;
    }

    &:last-child {
      box-shadow: inset 0 1px 0 $basic-white-opacity-2;
    }

    &:not(:last-child)::after {
      display: block;
      content: "";
      height: 1px;
      width: 100%;
      background-color: $basic-title-opacity-2;
    }

    &--current {
      color: $main-menu-active;
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 20%;
    background-color: $basic-white;
    min-height: 56px;

    &:nth-child(4n-2) {
      margin-right: 20%;
    }
  }
}

.main-nav__link {
  display: block;

  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  border: none;

  padding-top: 10px;
  padding-bottom: 5px;


  @media (max-width: $mobile-width-only) {
    color: $basic-white;

    &:hover,
    &:focus {
      background-color: $basic-color-hover;
    }

    &:active {
      background-color: $basic-color-active;
      color: $basic-white-opacity-3;
    }
  }


  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 26px;
    padding-top: 16px;
    color: $basic-title;

    &:hover {
      color: $main-menu-active-hover;
    }

    &:active {
      opacity: 0.3;
    }

    &--current {
      color: $main-menu-active;
    }
  }
}


.main-nav__list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: stretch;
  }
}

//Кнопки управления мобильным меню

.main-nav__button {
  position: absolute;
  width: 22px;
  height: 22px;
  border: none;

  &--open {
    width: 22px;
    height: 22px;
    top: 17px;
    right: 21px;
    background-color: $basic-color;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &::before,
    &::after {
      display: block;
      content: " ";
      background-color: $basic-white;
      width: 22px;
      height: 5px;
      position: absolute;
      margin: 0;
    }

    &::before {
      top: 4px;
      left: 0;
    }

    &::after {
      bottom: 4px;
      left: 0;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--close {
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    top: 17px;
    right: 30px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &::before,
    &::after {
      display: block;
      content: " ";
      background-color: $basic-white;
      width: 28px;
      height: 4px;
    }

    &::before {
      transform: translateY(2px) rotate(-45deg);
    }

    &::after {
      transform: translateY(-2px) rotate(45deg);
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
