.page-body{
  max-width: 1200px;
  margin: 0 auto;
}

.page-body__description {
  max-width: 520px;
  margin: 0 auto;

  h2 {
    padding-top: 32px;
    padding-left: 30px;
    padding-right: 32px;
  }
  p {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.page-body__video {
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}
// Ширина экрана от 768px

@media (min-width: $tablet-width) {
  .page-body__video {
    width: 648px;
  }
}
// Ширина экрана от 1200px

@media (min-width: $desktop-width) {
  .page-body__video {
    width: 800px;
  }
}
