.page-header {
  position: relative;

  &::after {
    display: block;
    margin-top: -56px;
    width: 100%;
    height: 57px;
    content: "";
    background-image: url("../img/intro-triangle.svg");
    background-position: center top;
    background-repeat: no-repeat;
  }
}

.page-header__link {
  display: block;
  width: 102px;
  height: 84px;
  padding: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.page-header__logo {
  @media (min-width: $desktop-width) {
    width: 187px;
    height: 96px;
    transform: translateX(-42px);
  }
}

.page-header__image {
  text-align: center;
  margin-top: -28px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 75px;
  padding-left: 19px;
  padding-right: 19px;

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/back/back-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back/back-mobile@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-top: 77px;
    padding-left: 153px;
    padding-right: 153px;
    background-image: url("../img/back/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back/back-desktop@2x.jpg");
    }
  }

  img {
    width: 282px;
    height: 100%;
    padding: 0;
    margin: 0;

    @media (max-width: $mobile-width-only) {
      max-width: 461px;
    }

    @media (min-width: $tablet-width) {
      min-width: 461px;
      height: 100%;
    }
  }

  &--inner-page {
    padding-top: 52px;
    padding-bottom: 57px;
    background-position: center bottom;

    @media (max-width: $mobile-width-only) {
      padding-left: 45px;
      padding-right: 45px;
      background-image: url("../img/back/back-mobile-inner.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/back/back-mobile-inner@2x.jpg");
      }
    }

    img {
      width: 100%;
    }

    @media (min-width: $tablet-width) {
      padding: 95px 153px 107px;
      background-image: url("../img/back/back-tablet-inner.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/back/back-tablet-inner@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      padding: 101px 370px 110px;
      background-image: url("../img/back/back-desktop-inner.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/back/back-desktop-inner@2x.jpg");
      }
    }
  }
}
