.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  vertical-align: middle;

  a {
    display: block;
    color: $basic-title;
  }
}

.page-footer__icon {
  fill: $basic-title;
  width: 27px;
  height: 34px;

  &:hover {
    fill: $basic-color;
  }

  &:active {
    fill: $basic-title;
    opacity: 0.3;
  }
}

// Ширина экрана от 768px

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
