.photo {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  align-self: center;

  &--big {
    @media (min-width: $tablet-width) {
      picture {
        height: 400px;
      }
    }
  }
}

.photo__description,
.photo__image {
  @media (max-width: $mobile-width-only) {
    margin: 0 20px;
  }
}

.photo__description {
  line-height: 24px;
  order: 2;
  padding-top: 11px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    background-color: $basic-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0 13px 20px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba($basic-title, 0.3);
  }
}

.photo__title,
.photo__likes {
  font-weight: 700;
  color: $basic-title;
  margin: 0;

  svg {
    margin-right: 9px;
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    color: $basic-white;

    svg {
      opacity: 1;
    }
  }
}

.photo__likes {
  width: 84px;
  height: 100%;
}

.photo__image {
  width: 280px;
  height: 280px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 267px;
    width: 100%;

    &--big {
      height: 400px;
    }
  }
}

.photo__author {
  text-transform: none;
  margin: 0;
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &::before {
    display: inline-block;
    content: "Автор фото: ";
    padding-right: 4px;
  }

  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}
