.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  display: block;
  width: 46px;
  height: 48px;
  background-color: $basic-color;
  cursor: pointer;

  &::before{
    display: block;
    content: "";
    width: 46px;
    height: 48px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--twitter::before {
    background-image: url("../img/icons/icon-twitter.svg");
  }

  &--facebook::before {
    background-image: url("../img/icons/icon-facebook.svg");
  }

  &--youtube::before {
    background-image: url("../img/icons/icon-youtube.svg");
  }


  &:hover {
    background-color: $basic-color-hover;
  }

  &:active {
    background-color: $basic-color-active;

    .social__item::before {
      opacity: 0.3;
    }
  }
}

.social__item:not(:last-child) {
  margin-right: 6px;
}
