.video {
  max-width: 648px;

  .description__title {
    padding-bottom: 28px;
  }

  // picture {
  //   display: block;
  //   margin: 0 auto;
  // }
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__block {
  background-color: $basic-text;
  background-image: url("./img/video.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;

  @media (min-width: $tablet-width) {
    height: 500px;
  }
}

.video__controls {
  background-image: linear-gradient(transparent 0 45px, $basic-background 45px);
  transform: translateY(-55px);
  display: grid;
  grid-template-columns: 1fr auto auto;
  margin: 0 20px;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 23px;
    width: 280px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    width: 648px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding-left: 25px;
    padding-right: 46px;
    transform: translateY(-102px);
    height: 93px;
    background: rgba($basic-title, 0.6);
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.video__title {
  @media (max-width: $mobile-width-only) {
    &::before {
      display: block;
      content: "";
      width: 320px;
      height: 1px;
      background-color: $checkbox-hover;
      margin-bottom: 33px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 77px;

    .description__title {
      padding-bottom: 35px;
    }
  }

  .description__text {
    margin: 0 30px;
  }
}

.video__volume {
  display: block;
  background: rgba($basic-title, 0.6);
  height: 45px;
  width: 100%;
  padding-top: 16px;
  grid-column: 1 / -1;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 22px;
  }

  @media (min-width: $tablet-width) {
    width: 389px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 540px;
  }
}
