.video__block {
width: 100%;
height: 100%;
}
.video__volume {

  // margin-top: -60px;
  display: block;
  background-color: $basic-title;
  opacity: 0.6;
  height: 45px;
  width: 100%;
height: 100%;
  // padding-top: 16px;

  // margin-bottom: 40px;
}

.video__buttons {
  display: flex;
  justify-content: space-between;
  background-color: $basic-background;
  padding: 23px;

  div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    min-width: 280px;
  }
}
.video__control {
  margin-right: 30px;
  padding-left: 43px;
  padding-right: 43px;
}

@media (min-width: $desktop-width) {
  .video__volume {
    width: 100%;
    background-color: transparent;
  }

  .video__buttons {
    background-color: $basic-title-opacity-6;
  }
}
