// Colors

$basic-background: #f2f2f2;

$basic-color: #81b3d2;
$basic-color-hover: #669ec0;
$basic-color-active: #5496bd;

$basic-title: #000000;
$basic-title-opacity-2: rgba(1, 1, 1, 0.2);
$basic-title-opacity-6: rgba(1, 1, 1, 0.6);
$basic-text: #333333;

$basic-white: #ffffff;
$basic-white-opacity-2: rgba(255, 255, 255, 0.2);
$basic-white-opacity-3: rgba(255, 255, 255, 0.3);

$backgroung-advantages: #eeeeee;
$background-dark-controls: #666666;
$background-dark-input: #e6e6e6;

$border: #d6d6d6;

$checkbox-down: #d5d5d5;
$checkbox-hover: #e5e5e5;

$control: #5C6870;

$main-menu-active: #766357;
$main-menu-active-hover: #604e43;

